<!DOCTYPE html>
<html>
<head>
  <title>View Users</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #f2f2f2;
    }

    h1 {
      margin-top: 50px;
    }

    form {
      margin-top: 30px;
    }

    label {
      display: block;
      margin-top: 10px;
      font-weight: bold;
    }

    input[type="text"] {
      padding: 8px;
      width: 200px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-family: Arial, sans-serif;
    }

    input[type="submit"] {
      margin-top: 10px;
      padding: 10px 20px;
      font-weight: bold;
      background-color: #ff5252;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #ff1744;
    }

    table {
      margin-top: 30px;
      border-collapse: collapse;
      width: 80%;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    th, td {
      padding: 10px;
      border: 1px solid #ccc;
    }

    th {
      background-color: #f2f2f2;
    }

    a {
      text-decoration: none;
    }

    button {
      padding: 5px 10px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }
  </style>

</head>
<body>
<h1>Delete Users</h1>

<form method="POST" action="/delete">
  <label for="name">Name:</label>
  <input type="text" id="name" name="deleteData" required>
  <input type="submit" value="Delete">
</form>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Action</th>
  </tr>
  {{range .}}
    <tr>
      <td>{{.ID}}</td>
      <td>{{.Name}}</td>
      <td><a href="update.html?id={{.ID}}"><button>Update</button></a></td>
    </tr>
  {{end}}
</table>
</body>
</html>
