<!DOCTYPE html>
<html>
<head>
    <title>View Users</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="JQ.js" type="text/javascript"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        form {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"] {
            padding: 8px;
            border: 1px solid #ccc;
            width: 200px;
        }

        input[type="submit"] {
            padding: 8px 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            background-color: white;
        }

        th, td {
            padding: 8px;
            border: 1px solid #ccc;
            text-align: left;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        img {
            width: 100px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer

        }
        button:hover {
            background-color: brown;
            font-size: 18px;
        }

        #button2 {
            background-color: darkred;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer
        }
        #button2:hover {
            background-color: darkblue ;
            font-size: 14px;
        }

    </style>

    <script>
        function generatePDF(rowID, rowName, rowAge, rowEmail, rowImageName) {

            console.log("ID: ", rowID);
            console.log("Name: ", rowName);
            console.log("Age: ", rowAge);
            console.log("Email: ", rowEmail);
            console.log("File Name: ", rowImageName);


            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/generatepdf?id=" + rowID + "&name=" + rowName + "&age=" + rowAge + "&email=" + rowEmail + "&iName=" + rowImageName, true);

            xhr.responseType = "blob";
            xhr.onload = function (event) {
                var blob = xhr.response;
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = rowName + ".pdf";
                link.click();
            };
            xhr.send();
        }
    </script>

</head>
<body>
<h1>View Users</h1>

<button onclick="window.location.href = '/'">Home Page</button>

<table >
    <tr>
        <th>MongoDB ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Image</th>
    </tr>
    {{range .Users}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
            <td>{{.Age}}</td>
            <td>{{.Email}}</td>
            <td><img src="{{.Image}}" alt="User Image"></td>
           

        </tr>
    {{end}}
</table>

<br>
<br>
<h1>View Users In Virgo Mongo</h1>

<table>
    <tr>
        <th>MongoDB ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Image</th>
        <th>ImageName</th>
    </tr>
    {{range .Pictures}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
            <td>{{.Age}}</td>
            <td>{{.Email}}</td>
            <td>
                <img src="data:image/jpg;base64,{{.Image}}" alt="Image">
            </td>
      
            <td>{{.ImageName}}</td>

        </tr>
    {{end}}
</table>

<h1>View Users In LYM Mongo</h1>
<form>
    <input type="text" name="nameSearch" placeholder="Enter Querry">
    <input type="submit" value="Submit">
</form>



<table id="data-table">
    <tr>
        <th>MongoDB ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Image</th>
        <th>ImageName</th>
        <th>File</th>
        <th>Download PDF</th>

    </tr>
    {{range .Pictures2}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
            <td>{{.Age}}</td>
            <td>{{.Email}}</td>
            <td>
                <img src="data:image/jpg;base64,{{.Image}}" alt="Image">
            </td>
            <td>{{.ImageName}}</td>
            <td>
                <a href="data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,{{.File}}" download="{{.Filename}}">{{.Filename}}</a>
            </td>
            <td>
                <button onclick="generatePDF('{{.ID}}', '{{.Name}}', '{{.Age}}', '{{.Email}}', '{{.ImageName}}')">Generate PDF</button>
            </td>


        </tr>

    {{end}}
</table>

<button id="button2" onclick="getValues()">Print PDF All</button>

<script>
    function getValues() {


        var values = [];
        var rows = document.getElementById("data-table").getElementsByTagName("tr");

        for (var i = 1; i < rows.length; i++) {
            var row = rows[i];
            var cells = row.getElementsByTagName("td");
            var rowValues = [];

            for (var j = 0; j < cells.length - 1; j++) {
                var value = cells[j].innerText;
                rowValues.push(value);
            }

            values.push(rowValues);
        }
        alert(values)
        console.log("All Data:", values);


        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/generatepdfAll?all=" + values, true);
        console.log("To be sent", values)


        xhr.responseType = "blob";
        xhr.onload = function (event) {
            var blob = xhr.response;
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = "everything" + ".pdf";
            link.click();
        };
        xhr.send();
    }

    var buttons = document.getElementsByClassName("get-values-button");
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", function() {
            var values = [];
            var row = this.parentNode.parentNode;
            var cells = row.getElementsByTagName("td");

            for (var j = 0; j < cells.length - 1; j++) {
                var value = cells[j].innerText;
                values.push(value);
            }

            console.log("Values:", values);
        });
    }




</script>


</body>


</html>
